@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

html a,
body a {
  color: #000;
  text-decoration: none;
}

html ul,
body ul {
  list-style: none;
}

html p,
body p {
  margin: 5px 0;
  line-height: 1.7;
}

html img,
body img {
  max-width: 100%;
}

html section a,
body section a {
  color: #fff;
  text-decoration: underline;
}

html .btn,
body .btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px solid #000;
  border-radius: 55px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

html .btn-dark-outline,
body .btn-dark-outline {
  border-color: #000;
  color: #000;
}

html .btn-dark-outline:hover,
body .btn-dark-outline:hover {
  background: rgba(0, 0, 0, 0.06);
}

html .btn-light-outline,
body .btn-light-outline {
  border-color: #fff;
  color: #fff;
}

html .btn-light-outline:hover,
body .btn-light-outline:hover {
  background: rgba(0, 0, 0, 0.06);
}

html .btn-dark,
body .btn-dark {
  background-color: #000;
  color: #fff;
}

html .btn-dark:hover,
body .btn-dark:hover {
  background: #333;
}

html .box,
body .box {
  margin-bottom: 30px;
}

html .box-inner,
body .box-inner {
  max-width: 700px;
  margin: 0 auto;
}

html .box-text,
body .box-text {
  max-width: 500px;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}

html .box-text .btn,
body .box-text .btn {
  margin-top: 20px;
}

html .bg-primary,
body .bg-primary {
  background-color: #006241;
  color: #fff;
}

html .bg-secondary,
body .bg-secondary {
  background-color: #d50032;
  color: #fff;
}

html .bg-extra,
body .bg-extra {
  background-color: #d4e9e2;
  color: #000;
}

html .text-center,
body .text-center {
  text-align: center;
}

html .text-xl,
body .text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-bottom: 20px;
}

html .text-md,
body .text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

html .text-sm,
body .text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

html .py-sm,
body .py-sm {
  padding: 10px 0;
}

html .py-md,
body .py-md {
  padding: 20px 0;
}

html .py-lg,
body .py-lg {
  padding: 40px 0;
}

html .grid-col-2,
body .grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .grid-reversed:first-child,
body .grid-reversed:first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 960px) {
  html .text-xl,
  body .text-xl {
    font-size: 30px;
  }
  html .text-lg,
  body .text-lg {
    font-size: 25px;
  }
  html .text-md,
  body .text-md {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  html .grid-col-2,
  body .grid-col-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  html .grid-reversed:first-child,
  body .grid-reversed:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  html body .navbar .navbar-container .navbar-brand,
  body body .navbar .navbar-container .navbar-brand {
    width: 40px;
    height: 40px;
  }
  html body .navbar .navbar-container .navbar-nav-right,
  html body .navbar .navbar-container .navbar-nav-left,
  body body .navbar .navbar-container .navbar-nav-right,
  body body .navbar .navbar-container .navbar-nav-left {
    display: none;
  }
  html body .navbar .navbar-container .hamburger,
  body body .navbar .navbar-container .hamburger {
    display: block;
  }
  html .footer,
  body .footer {
    text-align: center;
  }
  html .footer .social,
  body .footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  html .box,
  body .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  html .divider,
  body .divider {
    max-width: 90%;
  }
}

body .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(128, 128, 128, 0.3), 0 2px 2px rgba(128, 128, 128, 0.01), 0 0 2px rgba(128, 128, 128, 0.4);
          box-shadow: 0 1px 3px rgba(128, 128, 128, 0.3), 0 2px 2px rgba(128, 128, 128, 0.01), 0 0 2px rgba(128, 128, 128, 0.4);
}

body .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar ul li {
  margin: 0 15px;
  font-weight: bold;
}

body .navbar ul a {
  color: #000;
}

body .navbar ul a:hover {
  color: #006241;
}

body .navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navbar .navbar-container .navbar-brand img {
  width: 50px;
  height: 50px;
}

body .navbar .navbar-container .navbar-nav-left {
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

body .navbar .navbar-container .navbar-nav-right li a img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

body .navbar .navbar-container .navbar-nav-right li:first-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .navbar-container .navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}

body .navbar .navbar-container .hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: none;
}

body .navbar .navbar-container .hamburger .hamburger-top,
body .navbar .navbar-container .hamburger .hamburger-middle,
body .navbar .navbar-container .hamburger .hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .navbar .navbar-container .hamburger .hamburger-middle {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

body .navbar .navbar-container .hamburger .hamburger-bottom {
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

body .navbar .navbar-container .open .hamburger-top {
  -webkit-transform: translateX(6px) rotate(45deg) translateY(6px);
          transform: translateX(6px) rotate(45deg) translateY(6px);
}

body .navbar .navbar-container .open .hamburger-middle {
  display: none;
}

body .navbar .navbar-container .open .hamburger-bottom {
  -webkit-transform: translateX(-3px) rotate(-45deg) translateY(6px);
          transform: translateX(-3px) rotate(-45deg) translateY(6px);
}

body .mobile-menu {
  position: fixed;
  top: 80px;
  right: 0;
  width: 90%;
  background: #fff;
  height: 100%;
  color: #000;
  padding: 30px;
  -webkit-box-shadow: inset 0 4px 3px -3px rgba(128, 128, 128, 0.1), inset 0 4px 2px -2px rgba(128, 128, 128, 0.07);
          box-shadow: inset 0 4px 3px -3px rgba(128, 128, 128, 0.1), inset 0 4px 2px -2px rgba(128, 128, 128, 0.07);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .mobile-menu img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

body .mobile-menu ul {
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

body .mobile-menu a {
  font-size: 20px;
}

body .mobile-menu a:hover {
  color: #006241;
}

body .mobile-menu div {
  margin-top: 20px;
}

body .mobile-menu div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

body .hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

body .no-scroll {
  overflow-y: hidden;
}

body .box-f .box-text {
  max-width: 600px;
}

body .divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}

body footer .footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

body footer .footer-container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

body footer .footer-container .social a {
  margin-right: 20px;
}

body footer .footer-container .social img {
  width: 35px;
  height: 25px;
}

body footer .footer-container p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */